@import '../abstracts/mixins';

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62,5%;

    @include respond(prva) {
        font-size: 62,5%;
    }
    @include respond(druga) {
        font-size: 60%;
    }
    @include respond(treca) {
        font-size: 58%;
    }
    @include respond(cetvrta) {
        font-size: 56%;
    }
    @include respond(peta) {
        font-size: 54%;
    }
    @include respond(sesta) {
        font-size: 52%;
    }
    @include respond(sedma) {
        font-size: 50%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: $color-black-text;
    background-color: $color-white-light;
    min-height: 100vh;
}

.bodyDark {
    color: $color-white-text;
    background-color: $color-background-dark-dark;
}

.visibilityNone {
    display: none;
}