//Base colors

$color-white-light: #e7e7e7;
$color-underline-gray: rgb(228, 228, 228);

$color-black-text: #010203;
$color-gray-text: rgb(141, 141, 141);

//Inverted colors

$color-background-dark-dark: #212e37;
$color-background-dark-lighter: #2b3743;
$color-white-text: #f0f0f0;



//////box-shadow//////


//Primary


//Inverted
