* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62,5%; }
  @media (max-width: 112.5em) {
    html {
      font-size: 62,5%; } }
  @media (max-width: 75em) {
    html {
      font-size: 62,5%; } }
  @media (max-width: 59.3em) {
    html {
      font-size: 62,5%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 62,5%; } }
  @media (max-width: 52.5em) {
    html {
      font-size: 62,5%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 62,5%; } }
  @media (max-width: 25em) {
    html {
      font-size: 62,5%; } }
  @media (max-width: 20em) {
    html {
      font-size: 62,5%; } }
  @media (max-width: 17.5em) {
    html {
      font-size: 62,5%; } }
  @media (max-width: 15.62em) {
    html {
      font-size: 62,5%; } }
  @media (max-width: 12.5em) {
    html {
      font-size: 62,5%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #010203;
  background-color: #e7e7e7;
  min-height: 100vh; }

.bodyDark {
  color: #f0f0f0;
  background-color: #212e37; }

.visibilityNone {
  display: none; }

.mainHeader {
  width: 100%;
  height: 10vh;
  background-color: #e7e7e7;
  color: #010203;
  border-bottom: 2px solid #e4e4e4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }
  .mainHeader__heading {
    font-size: 1.5rem;
    margin-left: 10rem;
    font-weight: 600; }
    @media (max-width: 52.5em) {
      .mainHeader__heading {
        margin-left: 4rem;
        font-size: 1.3rem; } }
    @media (max-width: 37.5em) {
      .mainHeader__heading {
        margin-left: 2rem;
        font-size: 1.2rem; } }
    @media (max-width: 25em) {
      .mainHeader__heading {
        margin-left: 1rem;
        font-size: .9rem; } }
    @media (max-width: 15.62em) {
      .mainHeader__heading {
        margin-left: .1rem;
        font-size: .7rem; } }
  .mainHeader__themeChange {
    margin-right: 10rem;
    font-size: 1.2rem;
    border: 1px solid transparent;
    color: #010203;
    background: none;
    outline: none;
    cursor: pointer; }
    @media (max-width: 52.5em) {
      .mainHeader__themeChange {
        margin-right: 4rem;
        font-size: 1.3rem; } }
    @media (max-width: 37.5em) {
      .mainHeader__themeChange {
        margin-right: 2rem;
        font-size: 1.2rem; } }
    @media (max-width: 25em) {
      .mainHeader__themeChange {
        margin-right: 1rem;
        font-size: .9rem; } }
    @media (max-width: 15.62em) {
      .mainHeader__themeChange {
        margin-right: .1rem;
        font-size: .7rem; } }
    .mainHeader__themeChange:hover {
      border-bottom: 1px solid #8d8d8d; }

.themeChangeDark {
  color: #f0f0f0; }

.mainHeaderDark {
  background-color: #212e37;
  color: #f0f0f0;
  border-bottom: 2px solid #2b3743; }

.themeIcon {
  margin-right: .6rem; }
  @media (max-width: 12.5em) {
    .themeIcon {
      margin-right: .1rem; } }

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  width: 100%; }

.parent-secondPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 4rem;
  width: 82%;
  margin: 5rem auto; }
  @media (max-width: 84.37em) {
    .parent-secondPage {
      width: 80%;
      margin: 3rem auto; } }
  @media (max-width: 75em) {
    .parent-secondPage {
      width: 75%;
      margin: 3rem auto; } }
  @media (max-width: 68.75em) {
    .parent-secondPage {
      width: 73%;
      margin: 2.5rem auto; } }
  @media (max-width: 52.5em) {
    .parent-secondPage {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 1fr;
      grid-row-gap: 1rem;
      width: 67%;
      margin: 5rem auto; } }
  @media (max-width: 37.5em) {
    .parent-secondPage {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 1fr;
      grid-row-gap: 1rem;
      width: 65%;
      margin: 3rem auto; } }

.firstPage {
  width: 100%;
  height: 100%; }

.firstPageDark {
  background-color: #212e37; }

.flexContainer {
  width: 100%;
  height: 10vh;
  color: #010203;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem; }
  @media (max-width: 56.25em) {
    .flexContainer {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-top: 4rem;
      width: 100%;
      height: 17vh; } }
  @media (max-width: 25em) {
    .flexContainer {
      margin-top: 2rem; } }
  @media (max-width: 52.5em) {
    .flexContainer {
      margin-top: 1rem; } }
  @media (max-width: 15.62em) {
    .flexContainer {
      height: 4rem; } }
  .flexContainer__inputIcon {
    margin-left: 10rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-shadow: 0rem 0rem 0.1rem 0.1rem #e4e4e4;
    border: 1px solid #e4e4e4;
    border-radius: .4rem;
    color: #8d8d8d;
    background-color: white; }
    @media (max-width: 56.25em) {
      .flexContainer__inputIcon {
        margin-left: 0rem;
        padding: .8rem; } }
    @media (max-width: 25em) {
      .flexContainer__inputIcon {
        padding: .6rem; } }
    @media (max-width: 9.37em) {
      .flexContainer__inputIcon {
        padding: .4rem; } }
    .flexContainer__inputIcon > i {
      font-size: 1.4rem;
      color: #8d8d8d;
      margin-right: .5rem;
      background-color: transparent; }
      @media (max-width: 25em) {
        .flexContainer__inputIcon > i {
          font-size: 1rem; } }
      @media (max-width: 15.62em) {
        .flexContainer__inputIcon > i {
          margin-right: .1rem;
          font-size: .7rem; } }
      @media (max-width: 9.37em) {
        .flexContainer__inputIcon > i {
          padding: .5rem; } }
    .flexContainer__inputIcon > input {
      flex: 1;
      border: none;
      outline: none;
      height: 80%;
      font-size: 1rem;
      background-color: transparent; }
      @media (max-width: 25em) {
        .flexContainer__inputIcon > input {
          font-size: 1rem; } }
      @media (max-width: 15.62em) {
        .flexContainer__inputIcon > input {
          font-size: .8rem; } }
      @media (max-width: 9.37em) {
        .flexContainer__inputIcon > input {
          padding: .5rem; } }
  .flexContainer__select {
    margin-right: 10rem;
    padding: 1rem 3rem;
    box-shadow: 0rem 0rem 0.1rem 0.1rem #e4e4e4;
    border: 1px solid #e4e4e4;
    border-radius: .4rem;
    outline: none;
    color: #8d8d8d;
    font-size: 1.4rem;
    cursor: pointer; }
    @media (max-width: 56.25em) {
      .flexContainer__select {
        margin-right: 0rem; } }
    @media (max-width: 25em) {
      .flexContainer__select {
        font-size: 1rem; } }
    @media (max-width: 15.62em) {
      .flexContainer__select {
        font-size: .8rem; } }
    @media (max-width: 25em) {
      .flexContainer__select {
        padding: .6rem; } }
    @media (max-width: 15.62em) {
      .flexContainer__select {
        padding: .4rem; } }

.flexContainerDark {
  background-color: #212e37;
  color: #f0f0f0; }

.inputIconDark {
  box-shadow: 0rem 0rem 0.1rem 0.1rem #2b3743;
  background-color: #2b3743;
  color: #8d8d8d; }

.selectDark {
  background-color: transparent;
  box-shadow: 0rem 0rem 0.1rem 0.1rem #2b3743; }

.parent {
  width: 86%;
  margin: 5rem auto; }
  @media (max-width: 75em) {
    .parent {
      width: 70%; } }
  @media (max-width: 75em) {
    .parent {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-row-gap: 3rem; } }
  @media (max-width: 68.75em) {
    .parent {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-row-gap: 3rem; } }
  @media (max-width: 56.25em) {
    .parent {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 1fr;
      grid-row-gap: 2rem;
      width: 20rem; } }
  @media (max-width: 25em) {
    .parent {
      width: 10rem;
      grid-row-gap: 2rem; } }
  @media (max-width: 52.5em) {
    .parent {
      margin: 2rem auto;
      grid-row-gap: 1rem; } }

.card {
  width: 20rem;
  height: 25rem;
  border-radius: 1rem;
  background-color: transparent;
  cursor: pointer; }
  @media (max-width: 103.12em) {
    .card {
      width: 18rem;
      height: 23rem; } }
  @media (max-width: 93.75em) {
    .card {
      width: 16rem;
      height: 21rem; } }
  @media (max-width: 84.37em) {
    .card {
      width: 14rem;
      height: 19rem; } }
  @media (max-width: 68.75em) {
    .card {
      width: 20rem;
      height: 25rem; } }
  @media (max-width: 52.5em) {
    .card {
      width: 20rem;
      height: 25rem; } }
  @media (max-width: 25em) {
    .card {
      width: 10rem;
      height: 14rem; } }

.cardDark {
  background-color: #2b3743; }

.image {
  width: 100%;
  height: 50%; }
  .image__flag {
    border-radius: 1rem;
    width: 100%;
    height: 100%; }

.info-data {
  width: 100%;
  height: 50%; }
  .info-data__list {
    list-style-type: none;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 1.3rem; }
    @media (max-width: 25em) {
      .info-data__list {
        margin-top: .2rem;
        margin-left: .4rem;
        font-size: .9rem; } }

.main {
  font-weight: bold;
  margin-bottom: 1rem; }

.flexContainerSecond {
  width: 100%;
  height: 10vh;
  color: #010203;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 5rem; }
  @media (max-width: 37.5em) {
    .flexContainerSecond {
      margin-top: 2rem; } }
  @media (max-width: 25em) {
    .flexContainerSecond {
      margin-top: 1rem; } }
  @media (max-width: 15.62em) {
    .flexContainerSecond {
      margin-top: .8rem; } }

.buttonBack {
  margin-left: 10rem; }
  @media (max-width: 52.5em) {
    .buttonBack {
      margin-left: 4rem; } }
  @media (max-width: 37.5em) {
    .buttonBack {
      margin-left: 3rem; } }
  @media (max-width: 25em) {
    .buttonBack {
      margin-left: 1rem; } }
  @media (max-width: 15.62em) {
    .buttonBack {
      margin-left: .2rem; } }
  .buttonBack__btnBack {
    width: 15rem;
    outline: none;
    border: 1px solid #8d8d8d;
    border-radius: .4rem;
    padding: 1rem 0 1rem 0;
    color: #8d8d8d;
    background-color: transparent;
    font-size: 1.6rem;
    cursor: pointer; }
    @media (max-width: 84.37em) {
      .buttonBack__btnBack {
        padding: .7rem 0 .7rem 0;
        width: 13rem; } }
    @media (max-width: 68.75em) {
      .buttonBack__btnBack {
        padding: .5rem 0 .5rem 0;
        width: 11rem; } }
    @media (max-width: 37.5em) {
      .buttonBack__btnBack {
        padding: .3rem 0 .3rem 0;
        width: 9rem;
        font-size: 1.3rem; } }
    @media (max-width: 15.62em) {
      .buttonBack__btnBack {
        padding: .2rem 0 .2rem 0;
        width: 7rem;
        font-size: .9rem; } }
    @media (max-width: 12.5em) {
      .buttonBack__btnBack {
        padding: .1rem 0 .1rem 0;
        width: 5rem;
        font-size: .7rem; } }
    .buttonBack__btnBack > i {
      margin-right: 1rem;
      margin-left: -1rem; }
    .buttonBack__btnBack:hover {
      transform: scale(1.1);
      transition: .3s; }
    .buttonBack__btnBack:active {
      transform: scale(1);
      transition: .1s; }

.card-secondPage {
  width: 45rem;
  height: 30rem;
  border-radius: .4rem; }
  @media (max-width: 103.12em) {
    .card-secondPage {
      width: 40rem;
      height: 25rem; } }
  @media (max-width: 93.75em) {
    .card-secondPage {
      width: 35rem;
      height: 25rem; } }
  @media (max-width: 84.37em) {
    .card-secondPage {
      width: 30rem;
      height: 20rem; } }
  @media (max-width: 75em) {
    .card-secondPage {
      width: 25rem;
      height: 20rem; } }
  @media (max-width: 68.75em) {
    .card-secondPage {
      width: 23rem;
      height: 20rem; } }
  @media (max-width: 59.3em) {
    .card-secondPage {
      width: 20rem;
      height: 20rem; } }
  @media (max-width: 52.5em) {
    .card-secondPage {
      width: 30rem;
      height: 20rem; } }
  @media (max-width: 37.5em) {
    .card-secondPage {
      width: 25rem;
      height: 20rem; } }
  .card-secondPage__flag {
    width: 100%;
    height: 100%;
    border-radius: .4rem; }

.flexbox-secondpage {
  display: flex;
  flex-direction: column; }

.countryName {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem; }
  @media (max-width: 84.37em) {
    .countryName {
      font-size: 1.8rem;
      margin-bottom: 1.2rem;
      margin-top: 1.2rem; } }
  @media (max-width: 75em) {
    .countryName {
      font-size: 1.6rem;
      margin-bottom: 1.1rem;
      margin-top: 1.1rem; } }
  @media (max-width: 68.75em) {
    .countryName {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      margin-top: 1rem; } }

.list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  font-weight: bold; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
    font-size: 1.2rem; }
    @media (max-width: 84.37em) {
      .list__item {
        margin-bottom: .6rem;
        font-size: .8rem; } }
    @media (max-width: 75em) {
      .list__item {
        margin-bottom: .5rem; } }

.count {
  margin-right: 1rem; }

.surrounding {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  @media (max-width: 84.37em) {
    .surrounding {
      font-size: .9rem; } }

.recommended {
  font-size: 1rem;
  color: #8d8d8d;
  padding: .2rem .2rem;
  margin: 0rem .4rem .4rem 0rem;
  border: 1px solid #8d8d8d;
  border-radius: .4rem;
  cursor: pointer; }
  @media (max-width: 84.37em) {
    .recommended {
      font-size: .8rem;
      padding: .1rem .1rem; } }
  @media (max-width: 75em) {
    .recommended {
      font-size: .8rem;
      padding: .1rem .1rem; } }
  .recommended:hover {
    transform: scale(1.1);
    transition: .3s;
    background-color: #2B3769;
    color: wheat; }
